@page
@model CarBookingDiagnostics.Pages.ServicesModel
@{
    ViewData["Title"] = "Services";
}
<div class="container-fluid">
    <h1 class="display-6 text-center mb-4">Services</h1>
    <div class="row">
        <div class="col-md-3 mb-3">
            <div class="card">
                <img src="/assets/MOTServicingCover.png" class="card-img-top">
                <div class="card-body text-center">
                    <h5 class="card-title fw-bold">MOT & Servicing</h5>
                    <p class="card-text">from £70</p>
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-3">
            <div class="card">
                <img src="/assets/RepairsCover.png" class="card-img-top">
                <div class="card-body text-center">
                    <h5 class="card-title fw-bold">Repairs</h5>
                    <p class="card-text">from £25</p>
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-3">
            <div class="card">
                <img src="/assets/TyresCover.png" class="card-img-top">
                <div class="card-body text-center">
                    <h5 class="card-title fw-bold">Tyres</h5>
                    <p class="card-text">from £95</p>
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-3">
            <div class="card">
                <img src="/assets/BodyworkCover.png" class="card-img-top">
                <div class="card-body text-center">
                    <h5 class="card-title fw-bold">Bodywork</h5>
                    <p class="card-text">from £102</p>
                </div>
            </div>
        </div>
    </div>
</div>
